.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem var(--clr-grayish-blue);
  overflow: hidden;
  display: grid;
  gap: 3rem;

  &__content {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    grid-area: content;
  }
}
.imgBx {
  &__item {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  grid-area: img;
}

@media screen and(max-width: 50rem) {
  .card {
    max-height: 52rem;
    width: 32.5rem;
    grid-template-areas:
      'img'
      'content'
      'form';
  }
}
@media screen and(min-width: 50.01rem) {
  .card {
    max-height: 28rem;
    width: 73rem;
    grid-template-columns: 28.5rem 1fr;
    grid-template-areas:
      'img content'
      'img form';

    row-gap: 2rem;
  }
  .card__content {
    padding-top: 3rem;
  }
}
