.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem var(--clr-grayish-blue);
  overflow: hidden;
  display: grid;
  gap: 3rem;

  &__content {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    grid-area: content;
  }
}
.imgBx {
  &__item {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  grid-area: img;
}

@media screen and(max-width: 50rem) {
  .card {
    max-height: 52rem;
    width: 32.5rem;
    grid-template-areas:
      'img'
      'content'
      'form';
  }
  .imgBx {
    max-height: 20rem;
  }

  .form {
    grid-area: form;
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 3rem;

    color: var(--clr-grayish-blue);

    &__content-1,
    &__content-2 {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
    &__logo {
      max-height: 4rem;
    }
    &__logo-img {
      border-radius: 50%;
      height: 4rem;
      object-fit: contain;
    }
    &__logo_text {
      text-transform: uppercase;
      color: var(--clr-grayish-blue);
    }

    &__list-1,
    &__list-2 {
      display: flex;
    }
    &__list-1 {
      flex-direction: column;
      justify-content: center;
    }
    &__list-2 {
      justify-content: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
    }

    &__item {
      line-height: 1.3;

      &_bold {
        font-weight: 700;
        color: var(--clr-very-dark-grayish-blue);
      }
    }

    &__label {
      display: inline-block;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      border-radius: 50%;
    }

    &__checkbox {
      appearance: none;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--clr-light-grayish-blue);

      border-radius: 50%;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and(min-width: 50.01rem) {
  .card {
    max-height: 28rem;
    width: 73rem;
    grid-template-columns: 28.5rem 1fr;
    grid-template-areas:
      'img content'
      'img form';

    row-gap: 2rem;
  }
  .card__content {
    padding-top: 3rem;
  }
}
