.btn {
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease;
  &__share {
    border: none;
    border-radius: 50%;
    width: 3.1rem;
    height: 3.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__social {
  }
}
.icon {
  &__arrow {
  }

  &__fb {
  }

  &__tw {
  }

  &__pn {
  }
}
