body {
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem;
  line-height: 1.7;
  background: var(--clr-light-grayish-blue);
}
.title {
  font-weight: 700;
  color: var(--clr-very-dark-grayish-blue);
  &__primary {
    font-size: clamp(1.6rem, 1.65rem, 2.5rem);
  }
}
.text {
  font-weight: 500;
  color: var(--clr-desaturated-dark-blue);
}
